<div class="modal-header">
  <h3 class="modal-title">Modwatch Login</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" ng-submit="vm.login()">
    <div class="form-group">
      <label class="col-xs-4" for="loginUsername">Username</label>
      <div class="col-xs-8">
  		  <input type="text" id="loginUsername" class="form-control" ng-model="vm.user.username" name="username" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-4" for="loginPassword">Password</label>
      <div class="col-xs-8">
  	    <input type="password" id="loginPassword" class="form-control" ng-class="{ 'error': vm.loginError }" ng-model="vm.user.password" name="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="btn-wrapper col-xs-offset-4 col-xs-8">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
    <div class="form-group">
      <div class="btn-wrapper col-xs-offset-4 col-xs-8">
        <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
    	</div>
    </div>
	</form>

	<div ng-show="vm.loginError" class="errorMessage">
		<span>{{vm.loginError}}</span>
	</div>
</div>
<div class="modal-footer">
</div>
