<div class="modal-header">
  <h3 class="modal-title">Modwatch Login</h3>
</div>
<div class="modal-body">
  <form class="form-inline"  ng-submit="vm.login()">
		<label class="sr-only" for="loginUsername">Username</label>
		<input type="text" id="loginUsername" class="form-control" ng-model="vm.user.username" name="username" placeholder="Username">

		<label class="sr-only" for="loginPassword">Password</label>
		<input type="password" id="loginPassword" class="form-control" ng-class="{ 'error': vm.loginError }" ng-model="vm.user.password" name="password" placeholder="Password">

		<button type="submit" class="btn btn-primary" style="color: black">Login</button>
    <button class="btn btn-warning" style="color:black" ng-click="vm.cancel()">Cancel</button>
	</form>

	<div ng-show="vm.loginError" class="errorMessage">
		<span>{{vm.loginError}}</span>
	</div>
</div>
<div class="modal-footer">
</div>
