*.private
/config/*
/node_modules/*
/bower_components/*
/python/auth.dat
/public/*
!/public/templates/
!/public/fonts/
!/public/bower_components/angular-ui-bootstrap/dist/ui-bootstrap-custom-tpls-0.12.1.min.js
!/public/bower/
/models/*
/data/*
/mongod
/.c9/*
/*.min.js
/*.min.js.map
/tmp
