<form>
	<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
		<div class="page-header"><h3>User Settings</h3></div>
	  <div class="form-group">
	    <label for="newpass">New Password</label>
			<input class="form-control" id="newpass" ng-model="newpass"/>
	  </div>
	  <div class="form-group">
	    <label for="confirmpass">Confirm Password</label>
			<input class="form-control" id="confirmpass" ng-model="confirmpass"/>
	  </div>
		<button type="submit" ng-disabled="newpass==='' || confirmpass==='' || newpass!==confirmpass" ng-click="vm.changepass(confirmpass)" class="btn btn-default">Change Password</button>
	</div>
</form>
