<!DOCTYPE html>
<html ng-app="modwatchApp" >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css"/>

	<!-- inject:css -->
	<link rel="stylesheet" type="text/css" href="/css/local.min.css"/>
	<!-- endinject -->

	<title ng-bind="pageTitle">Modwat.ch</title>
	<base href="/">
</head>
<body>

	<div id="full-wrapper" class="container">
		<div id="ng-app" class="row" ng-controller="MainCtrl" ng-init="getUsers()">
			<h1 id="header" class="col-xs-10 col-xs-offset-1"><a href="/">MODWAT.CH</a></h1>
			<span id="content-wrapper" class="col-xs-10 col-sm-offset-1 ng-view-class" ng-view>
			</span>
			<span class="col-xs-1">
				<button ng-if="!authenticated" title="Login" class="btn nav-anim" style="border-radius:50%" ng-click="openLogin()"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></button>
				<a ng-if="authenticated" class="nav-anim" href="/u/{{user.username}}"><button class="btn" title="Your Profile" style="border-radius:50%;color:blue" ng-click=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button></a>
				<button ng-if="authenticated" class="btn nav-anim" title="Logout" style="border-radius:50%;color:red" ng-click="logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button>
				<button class="btn" title="Search" style="border-radius:50%" ng-click="openSearch()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				<a href="/userlist" class="nav-anim"><button class="btn" title="Users" style="border-radius:50%"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button></a>
			</span>

			<!-- inject:html -->
			<script type="text/ng-template" id="EditModal.html"><div class="modal-header">
  <h3 class="modal-title">Edit</h3>
</div>
<div class="modal-body">
  <form class="form-inline" id="enbPost">
    <label class="sr-only" for="enb">Your ENB</label><input type="text" ng-model="enb" id="enb" class="form-control" name="enb" placeholder="Your ENB">
    <button type="submit" class="btn btn-default vert-margin" ng-click="newENB()">Update</button>
  </form>
  <br />
  <form class="form-inline" id="tagPost">
    <label class="sr-only" for="tag">Your Tag</label><input ng-model="tag" type="text" id="tag" class="form-control" name="tag" placeholder="Your Tag">
    <button type="submit" class="btn btn-default vert-margin" ng-click="newTag()">Update</button>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" style="color:black" ng-click="cancel()">Close</button>
</div></script>
			<script type="text/ng-template" id="HomeView.html"><div>
	<p id="download-header"><a href="http://www.nexusmods.com/skyrim/mods/56640/?tab=2&navtag=http%3A%2F%2Fwww.nexusmods.com%2Fskyrim%2Fajax%2Fmodfiles%2F%3Fid%3D56640&pUp=1#content">Download Here!</a></p>
</div>
<div class="update-block">
	<div class="post-header">
		<h3 class="post-title">BETA WEBSITE</h3>
	</div>
  <p class="post-body">
    This site is currently in beta. Please report any issues to <a href="http://reddit.com/u/peanuttheguru">/u/peanuttheguru</a>.
  </p>
  <div class="post-header">
		<h3 class="post-title">What is Modwatch?</h3>
	</div>
  <p class="post-body">
    Modwatch is a site for uploading and sharing modlists for Skyrim (and eventually other games). If you want to view some of the 1000+ modlists, you can look through the dropdown to the right. Or if you have one in mind, you can view it at modwat.ch/username.
  </p>
  <div class="post-header">
		<h3 class="post-title">Uploading Your Mods!</h3>
	</div>
  <p class="post-body">
    If you want to upload your own modlist, you can download the script via the gigantic orange button at the top of the page. Instructions for uploading are detailed on the nexus page.
  </p>
  <div class="post-header">
		<h3 class="post-title">Logging In!</h3>
	</div>
  <p class="post-body">
    Finally, if you've uploaded your modlist, your can log in with the same username and password you used in the uploader to log in to the right. Eventually you'll have more options to customize, so stay tuned!
  </p>
  <p class="post-sig">-Peanut</p>
</div></script>
			<script type="text/ng-template" id="LoginModal.html"><div class="modal-header">
  <h3 class="modal-title">Modwatch Login</h3>
</div>
<div class="modal-body">
  <form class="form-inline"  ng-submit="login()">
		<label class="sr-only" for="loginUsername">Username</label>
		<input type="text" id="loginUsername" class="form-control" ng-model="user.username" name="username" placeholder="Username">
		
		<label class="sr-only" for="loginPassword">Password</label>
		<input type="password" id="loginPassword" class="form-control" ng-class="{ 'error': loginError }" ng-model="user.password" name="password" placeholder="Password">
		
		<button type="submit" class="btn btn-primary" style="color: black">Login</button>
    <button class="btn btn-warning" style="color:black" ng-click="cancel()">Cancel</button>
	</form>
	
	<div ng-show="loginError" class="errorMessage">
		<span>{{loginError}}</span>
	</div>
</div>
<div class="modal-footer">
</div></script>
			<script type="text/ng-template" id="ProfileView.html"><span id="list-container">
  <div id="nav-wrapper" class="row">
    <h1 ng-if="enb" id="enbText" class="col-xs-12">ENB: {{ enb }}</h1>
    <h1 ng-if="tag" id="tagText" class="col-xs-12">"{{ tag }}"</h1>
    <div style="/*overflow-x:scroll;white-space:nowrap*/" class="col-xs-12">
      <span ng-if="hasPlugins"><button class="btn" id="pluginsNav" ng-click="switchFiles('plugins')">Plugins</button></span>
      <span ng-if="hasModlist"><button class="btn" id="modlistNav" ng-click="switchFiles('modlist')">Modlist</button></span>
      <span ng-if="hasIni"><button class="btn" id="iniNav" ng-click="switchFiles('ini')">{{ ::game | capitalize}}</button></span>
      <span ng-if="hasPrefsIni"><button class="btn" id="prefsiniNav" ng-click="switchFiles('prefsini')">{{ ::game | capitalize}}Prefs</button></span>
      <span ng-if="hasSKSE"><button class="btn" id="skseNav" ng-click="switchFiles('skse')">SKSE</button></span>
      <span ng-if="hasENBLocal"><button class="btn" id="enblocalNav" ng-click="switchFiles('enblocal')">ENB Local</button></span>
    </div>
  </div>
  <span id="search-container" style="position:relative;" class="col-xs-12">
    <span id="username" class="col-xs-3 col-xs-offset-1" ng-attr-title="{{::timestamp|date}}">
      <span ng-if="false && $parent.authenticated && user.isOwner" ng-click="openEdit()" class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{ ::user.username }}
    </span>
    <span class="col-xs-5 col-xs-offset-2"><input type="text" class="form-control" ng-model="filterMods" id="filter-mods" placeholder="Filter by..."/></span>
    <button ng-show="!modlistChecked && currentFilename == 'modlist'" ng-click="modlistChecked = true" class="btn" id="filter-checked">Show Only Running Mods</button>
    <button ng-show="modlistChecked && currentFilename == 'modlist'" ng-click="modlistChecked = false" class="btn" id="filter-checked">Show All Mods</button>
  </span>
  <div style="min-height:500px" class="col-sm-10 col-sm-offset-1 col-xs-12">
    <ul class="striped-list" id="plugins" ng-show="currentFilename == 'plugins'">
      <li ng-repeat="item in plugins | filter:filterMods track by $index"><span class="row-header">{{$index+1}}.</span><span class="row-body">{{::item}}</span><span class='row-footer {{item|limitTo:-3}}'>{{item|limitTo:-3}}</span></li>
    </ul>
    <ul class="striped-list" id="modlist" ng-show="currentFilename == 'modlist'">
      <li ng-repeat="item in modlist | checked:modlistChecked | filter:filterMods track by $index"><span class="row-header">{{$index+1}}.</span><span class='row-body'>{{::item}}</span></li>
    </ul>
    <ul class="striped-list" id="ini" ng-show="currentFilename == 'ini'">
      <li ng-repeat="item in ini | filter:filterMods track by $index"><span class="row-header">{{$index+1}}.</span><span class="row-body">{{::item}}</span></li>
    </ul>
    <ul class="striped-list" id="prefsini" ng-show="currentFilename == 'prefsini'">
      <li ng-repeat="item in prefsini | filter:filterMods track by $index"><span class="row-header">{{$index+1}}.</span><span class="row-body">{{::item}}</span></li>
    </ul>
    <ul class="striped-list" id="skse" ng-show="currentFilename == 'skse'">
      <li ng-repeat="item in skse | filter:filterMods track by $index"><span class="row-header">{{$index+1}}.</span><span class="row-body">{{::item}}</span></li>
    </ul>
    <ul class="striped-list" id="enblocal" ng-show="currentFilename == 'enblocal'">
      <li ng-repeat="item in enblocal | filter:filterMods track by $index"><span class="row-header">{{$index+1}}.</span><span class="row-body">{{::item}}</span></li>
    </ul>
  </div>
</span>
</script>
			<script type="text/ng-template" id="SearchModal.html"><div class="modal-header">
  <h3 class="modal-title">Modwatch Search</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" ng-submit="searchModlists(searchQuery)">
    <div class="form-group">
    	<label for="searchQuery" class="control-label col-xs-4">Mods to Search For</label>
    	<div class="col-xs-8">
      	<input type="text" class="form-control" name="searchQuery" ng-model="searchQuery" placeholder="Mod to look for"/>
      </div>
      <label class="control-label col-xs-4 sr-only">Search</label>
      <div class="col-xs-8" style="text-align: left">
      	<button class="btn btn-default vert-margin" type="submit">Search</button>
    	</div>
    </div>
  </form>
  <div class="loadingText" ng-show="loadingModlistSearch">
  	<span>Searching for lists containing "{{searchQuery}}"</span>
  </div>
  <span ng-show="modlistSearchResult && !loadingModlistSearch">
	  <br />
	  <form class="form-horizontal" ng-submit="findUser(searchModlist.mod)">
	    <div class="form-group">
	    	<label for="mod" class="control-label col-xs-4">Lists using "{{searchQuery}}"</label>
	    	<div class="col-xs-8">
		      <select class="form-control" ng-model="searchModlist.mod" id="userlist" name="mod">
		      	<option disabled>{{modlistSearchResult.length}} Results!</option>
			  		<option ng-repeat="username in modlistSearchResult">{{::username}}</option>
			  	</select>
			  </div>
			  <label class="control-label col-xs-4 sr-only">Search</label>
      	<div class="col-xs-8" style="text-align: left">
	  			<button type="submit" ng-disabled="modlistSearchResult.length === 1" class="btn btn-default vert-margin col-offset-xs-4">Go</button>
	  		</div>
	    </div>
	  </form>
	</span>
  <br />
  <form class="form-horizontal" ng-submit="findUser(search.username)" style="border-top: 1px solid #e5e5e5;padding-top: 15px;">
    <div class="form-group">
    	<label for="username" class="control-label col-xs-4">All Modlists</label>
    	<div class="col-xs-8">
		  	<select class="form-control" ng-model="search.username" id="userlist" name="username">
		  		<option ng-repeat="username in users">{{::username}}</option>
		  	</select>
		  </div>
	  	<label class="control-label col-xs-4 sr-only">Search</label>
    	<div class="col-xs-8" style="text-align: left">
  			<button type="submit" ng-disabled="users.length === 1" class="btn btn-default vert-margin">Go</button>
  		</div>
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" style="color:black" ng-click="cancel()">Cancel</button>
</div></script>
			<script type="text/ng-template" id="UserlistView.html">

<div class="form-inline" style="margin-top: 20px;">
  <input class="form-control" placeholder="Search" type="text" ng-model="listFilter" ng-model-options="{debounce: 250}"/>
  <span ng-if="pList.getNumPages() > 1">
    <button class="btn" type="button" ng-click="pList.prevPage()" ng-disabled="pList.getIsFirstPage()">Prev</button>
      {{pList.getPage() + 1}} / {{pList.getNumPages()}}
    <button class="btn" type="button" ng-click="pList.nextPage()" ng-disabled="pList.getIsLastPage()">Next</button>
  </span>
  <span ng-if="cachedList">Getting most recent list...</span>
</div>

<table class="table table-striped">
  <thead>
    <tr style="font-size: 20px;">
      <th style="cursor: pointer;" ng-click="sortCol('username')">
        Username
        <span ng-show="listOrder.field === 'username' && listOrder.reverse === false" class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
        <span ng-show="listOrder.field === 'username' && listOrder.reverse === true" class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
      </th>
      <th style="cursor: pointer;" ng-click="sortCol('timestamp')">
        Timestamp
        <span ng-show="listOrder.field === 'timestamp' && listOrder.reverse === false" class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span>
        <span ng-show="listOrder.field === 'timestamp' && listOrder.reverse === true" class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in pList.getVisibleContent()">
      <td><a href="/u/{{user.username}}" style="color: #000">{{user.username}}</a></td>
      <td>{{user.timestamp | date}}</td>
    </tr>
  </tbody>
</table>
</script>
			<!-- endinject -->

		</div>

	</div>
	<script>

	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-53199250-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<script type="text/javascript" src="/static/paginate.min.js"></script>
	<script type="text/javascript" src="/static/angular.min.js"></script>
	<script type="text/javascript" src="/static/angular-local-storage.min.js"></script>
	<script type="text/javascript" src="/static/angular-animate.min.js"></script>
	<script type="text/javascript" src="/static/angular-route.min.js"></script>
	<script type="text/javascript" src="/static/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>

	<!-- inject:js -->
	<script type="text/javascript" src="/angular/ng.min.js"></script>
	<!-- endinject -->

</body>
</html>
