<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">

	<!-- injector:bowerCSS -->
	<link rel="stylesheet" type="text/css" href="/bower/css/all.bower.css?0caf8a26e3b62932"/>
	<!-- endinjector -->

	<!-- injector:css -->
	<link rel="stylesheet" type="text/css" href="/css/all.css?4db592eb8468aa7b"/>
	<!-- endinjector -->

	<title>Modwat.ch</title>
	<base href="/">
</head>
<body>

	<div id="full-wrapper" class="container">
		<div id="ng-app" class="row" ng-app="modwatchApp" ng-controller="MainCtrl" ng-init="getUsers()">
		<h1 id="header" class="col-xs-10 col-xs-offset-1"><a href="/">MODWAT.CH</a></h1>
		<span id="content-wrapper" class="col-xs-10 col-sm-offset-1 ng-view-class" ng-view>
		</span>
		<span class="col-xs-1">
			<button ng-if="!authenticated" title="Login" class="btn nav-anim" style="border-radius:50%" ng-click="openLogin()"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></button>
			<a ng-if="authenticated" class="nav-anim" href="/u/{{user.username}}"><button class="btn" title="Your Profile" style="border-radius:50%;color:blue" ng-click=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button></a>
			<button ng-if="authenticated" class="btn nav-anim" title="Logout" style="border-radius:50%;color:red" ng-click="logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button>
			<button class="btn" title="Search" style="border-radius:50%" ng-click="openSearch()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
		</span>

	</div>
	<script>

	  /*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-53199250-1', 'auto');
	  ga('send', 'pageview');*/

	</script>

	<!-- injector:bowerJS -->
	<script type="text/javascript" src="/bower/js/all.bower.js?6aaa8e85c5b8acad"></script>
	<!-- endinjector -->

	<!-- Custom -->
	<script src="/bower_components/angular-ui-bootstrap/dist/ui-bootstrap-custom-tpls-0.12.1.min.js?5c65baae57c3919f"></script>
	<!-- /Custom -->

	<!-- injector:js -->
	<script type="text/javascript" src="/angular/ng.js?7f7fb3b8de741d37"></script>
	<!-- endinjector -->

</body>
</html>
l>
