<div>
	<p id="download-header"><a href="http://www.nexusmods.com/skyrim/mods/56640/?tab=2&navtag=http%3A%2F%2Fwww.nexusmods.com%2Fskyrim%2Fajax%2Fmodfiles%2F%3Fid%3D56640&pUp=1#content">Download Here!</a></p>
</div>
<div class="update-block">
	<div class="post-header">
		<h3 class="post-title">BETA WEBSITE</h3>
	</div>
  <p class="post-body">
    This site is currently in beta. Please report any issues to <a href="http://reddit.com/u/peanuttheguru">/u/peanuttheguru</a>.
  </p>
  <div class="post-header">
		<h3 class="post-title">What is Modwatch?</h3>
	</div>
  <p class="post-body">
    Modwatch is a site for uploading and sharing modlists for Skyrim (and eventually other games). If you want to view some of the 1000+ modlists, you can look through the dropdown to the right. Or if you have one in mind, you can view it at modwat.ch/username.
  </p>
  <div class="post-header">
		<h3 class="post-title">Uploading Your Mods!</h3>
	</div>
  <p class="post-body">
    If you want to upload your own modlist, you can download the script via the gigantic orange button at the top of the page. Instructions for uploading are detailed on the nexus page.
  </p>
  <div class="post-header">
		<h3 class="post-title">Logging In!</h3>
	</div>
  <p class="post-body">
    Finally, if you've uploaded your modlist, your can log in with the same username and password you used in the uploader to log in to the right. Eventually you'll have more options to customize, so stay tuned!
  </p>
  <p class="post-sig">-Peanut</p>
</div>