<span id="list-container">
  <div id="nav-wrapper" class="row">
    <h1 id="timestamp" class="col-xs-12">Updated: {{::timestamp|date:'shortDate'}}</h1>
    <div style="margin-bottom:10px" ng-if="$parent.authenticated">
        <form class="form-inline" id="enbPost">
          <label class="sr-only" for="enb">Your ENB</label><input type="text" ng-model="enb" id="enb" class="form-control" name="enb" placeholder="Your ENB">
          <button type="submit" class="btn btn-default vert-margin" ng-click="newENB()">Update</button>
        </form>
        <form class="form-inline" id="tagPost">
          <label class="sr-only" for="tag">Your Tag</label><input ng-model="tag" type="text" id="tag" class="form-control" name="tag" placeholder="Your Tag">
          <button type="submit" class="btn btn-default vert-margin" ng-click="newTag()">Update</button>
        </form>
        <a href="/logout"><button type="submit" class="btn btn-default" style="margin-top:5px">Logout</button></a>
    </div>
    <h1 ng-if="enb" id="enbText" class="col-xs-12">{{ enb }}</h1>
    <h1 ng-if="tag" id="tagText" class="col-xs-12">"{{ tag }}"</h1>
    <div style="/*overflow-x:scroll;white-space:nowrap*/" class="col-xs-12">
      <span ng-if="hasPlugins"><button class="btn" id="pluginsNav" ng-click="switchFiles('plugins')">Plugins</button></span>
      <span ng-if="hasModlist"><button class="btn" id="modlistNav" ng-click="switchFiles('modlist')">Modlist</button></span>
      <span ng-if="hasIni"><button class="btn" id="iniNav" ng-click="switchFiles('ini')">{{ ::game | capitalize}}</button></span>
      <span ng-if="hasPrefsIni"><button class="btn" id="prefsiniNav" ng-click="switchFiles('prefsini')">{{ ::game | capitalize}}Prefs</button></span>
      <span ng-if="hasSKSE"><button class="btn" id="skseNav" ng-click="switchFiles('skse')">SKSE</button></span>
      <span ng-if="hasENBLocal"><button class="btn" id="enblocalNav" ng-click="switchFiles('enblocal')">ENB Local</button></span>
    </div>
  </div>
  <span id="search-container" style="position:relative;" class="col-xs-12">
    <span id="username" class="col-xs-2 col-xs-offset-1">
      <!--<span ng-if="badge && badge !== 'dev'" title="Winner of the /r/skyrimmods {{badge}} Mod Competition!" class="glyphicon glyphicon-tag modwatch-badge" aria-hidden="true"></span>
      <span ng-if="badge === 'dev'" title="Hi, I'm the Modwatch Developer!" class="glyphicon glyphicon-wrench modwatch-badge" style="background-color:rgba(0,140,0,.25)" aria-hidden="true">{{::user.username}}</span>
      -->{{ ::user.username }}
    </span>
    <span class="col-xs-6 col-xs-offset-2"><input type="text" class="form-control" ng-model="filterMods" id="filter-mods" placeholder="Filter by..."/></span>
    <button ng-show="!modlistChecked && currentFilename == 'modlist'" ng-click="modlistChecked = true" class="btn" id="filter-checked">Show Only Running Mods</button>
    <button ng-show="modlistChecked && currentFilename == 'modlist'" ng-click="modlistChecked = false" class="btn" id="filter-checked">Show All Mods</button>
  </span>
  <div style="min-height:500px" class="col-xs-12">
    <ul id="plugins" ng-show="currentFilename == 'plugins'">
      <li ng-repeat="item in plugins | stripedList:filterMods" ng-class="item.class"><span class='row-header'>{{$index+1}}.</span><span class='row-body'>{{::item.name}}</span><span class='row-footer {{item.name|limitTo:-3}}'>{{item.name|limitTo:-3}}</span></li>
    </ul>
    <ul class="" id="modlist" ng-show="currentFilename == 'modlist'">
      <li ng-repeat="item in modlist | checked:modlistChecked | stripedList:filterMods" ng-class="item.class"><span class='row-header'>{{$index+1}}.</span><span class='row-body'>{{::item.name}}</span></li>
    </ul>
    <ul class="" id="ini" ng-show="currentFilename == 'ini'">
      <li ng-repeat="item in ini | stripedList:filterMods" ng-class="item.class"><span class='row-header'>{{$index+1}}.</span><span title="{{item.desc}}" ng-style="item.style" class='row-body'>{{::item.name}}</span></li>
    </ul>
    <ul class="" id="prefsini" ng-show="currentFilename == 'prefsini'">
      <li ng-repeat="item in prefsini | stripedList:filterMods" ng-class="item.class"><span class='row-header'>{{$index+1}}.</span><span title="{{item.desc}}" ng-style="item.style" class='row-body'>{{::item.name}}</span></li>
    </ul>
    <ul class="" id="skse" ng-show="currentFilename == 'skse'">
      <li ng-repeat="item in skse | stripedList:filterMods" ng-class="item.class"><span class='row-header'>{{$index+1}}.</span><span title="{{item.desc}}" ng-style="item.style" class='row-body'>{{::item.name}}</span></li>
    </ul>
    <ul class="" id="enblocal" ng-show="currentFilename == 'enblocal'">
      <li ng-repeat="item in enblocal | stripedList:filterMods" ng-class="item.class"><span class='row-header'>{{$index+1}}.</span><span title="{{item.desc}}" ng-style="item.style" class='row-body'>{{::item.name}}</span></li>
    </ul>
  </div>
</span>