.notifications-wrapper {
  list-style: none;
  margin: 0;
  position: fixed;
  top: 20px;
  left: 15px;
  padding: 7px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #e3a853;
  border-left: 2px solid #e3a853;
  border-right: 2px solid #e3a853;
  &:before,
  &:after {
    content: "";
    width: 10px;
    position: absolute;
    top: 0;
    height: 100%;
    border-top: 3px solid #e3a853;
    border-bottom: 3px solid #e3a853;
    box-sizing: border-box;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}
