<h3>Only 100 latest profiles shown after filtering</h3>
<form class="form-inline" style="margin-top: 20px;" ng-submit="vm.searchUsers(listFilter, filterMode)">
  <div class="search-group input-group">
    <input class="form-control" placeholder="Search" type="text" ng-model="listFilter"/>
    <select class="form-control" ng-init="filterMode='profiles'" ng-model="filterMode">
      <option value="profiles">Profiles</option>
      <option value="mods">Mods</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
  <button type="button" class="btn btn-warning" ng-click="listFilter='';filterMode='profiles';vm.searchUsers()">Clear</button>
</form>
<h3 ng-show="vm.users.length === 0">No profiles found</h3>
<table class="table table-striped" ng-show="vm.users.length > 0">
  <thead>
    <tr style="font-size: 20px;">
      <th style="cursor: pointer;" ng-click="vm.sortCol('username')">
        Username
        <span ng-show="vm.listOrder.field === 'username' && vm.listOrder.reverse === false" class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
        <span ng-show="vm.listOrder.field === 'username' && vm.listOrder.reverse === true" class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
      </th>
      <th style="cursor: pointer;" ng-click="vm.sortCol('timestamp')">
        Timestamp
        <span ng-show="vm.listOrder.field === 'timestamp' && vm.listOrder.reverse === false" class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span>
        <span ng-show="vm.listOrder.field === 'timestamp' && vm.listOrder.reverse === true" class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true"></span>
      </th>
      <th style="cursor: pointer;" ng-click="vm.sortCol('game')">
        Game
        <span ng-show="vm.listOrder.field === 'game' && vm.listOrder.reverse === false" class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span>
        <span ng-show="vm.listOrder.field === 'game' && vm.listOrder.reverse === true" class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in vm.pList.getVisibleContent()">
      <td><a href="/u/{{::user.username}}" style="color: #000">{{::user.username}}</a></td>
      <td>{{::user.timestamp | date}}</td>
      <td>{{::user.displayGame}}</td>
    </tr>
  </tbody>
</table>
<div class="form-inline">
  <span ng-if="vm.pList.getNumPages() > 1">
    <button class="btn" type="button" ng-click="vm.pList.prevPage()" ng-disabled="vm.pList.getIsFirstPage()">Prev</button>
      {{vm.pList.getPage() + 1}} / {{vm.pList.getNumPages()}}
    <button class="btn" type="button" ng-click="vm.pList.nextPage()" ng-disabled="vm.pList.getIsLastPage()">Next</button>
  </span>
</div>
