{
  "presets": [[
    "@babel/env", {
      "targets": {
        "browsers": ["last 2 versions", "not ie > 9"]
      }
    }
  ], ["@babel/react", {
    "pragma": "h"
  }]],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-object-rest-spread",
    ["@babel/plugin-transform-runtime",
    {
      "corejs": false,
      "helpers": true,
      "regenerator": true,
      "useESModules": false
    }
  ]
  ]
}
