.filter-override-input {
  height: 100%;
  font-size: 1em;
  font-weight: bold;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid;
}
.blog-override-content-wrapper {
  display: flex;
  align-items: stretch;
  & > div {
    flex: 75%;
  }
}
