article {
  background-color: var(--color-background-2);
  text-align: left;
  & header {
    border-bottom: 1px solid;
    padding: 25px 0;
    & > div {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
      & > * {
        margin: 0;
        margin-left: 25px;
      }
    }
    & h1 {
      font-size: 2em;
    }
    & h2 {
      font-size: 1.5em;
    }
    & h3 {
      font-size: 1.25em;
    }
    & h4 {
      font-size: 1em;
    }
  }
  &.editing {

  }
}
.blogpost-edit-overrides,
.blogpost-admin-actions {
  display: flex;
  flex-direction: column;
}
.blogpost-admin-actions {
  align-items: flex-start;
}
.blog-override-content-wrapper {
  padding: 15px 30px;
  & > div {
    margin: 0 auto;
    max-width: 750px;
  }
}
