.login-wrapper {
  padding: 0 25px 20px 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  & input {
    transition: border-color var(--anim-delay) ease;
    width: 100%;
    margin: 0 15px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-border);
    padding: 7px 5px;
    outline: none;
    font-size: 1em;
    &:focus,
    &:active {
      border-color: var(--color-icon);
    }
  }
  & button {
    transition: box-shadow var(--anim-delay) ease;
    width: 100%;
    margin: 0 15px;
    padding: 7px 5px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    background-color: var(--color-primary);
    cursor: pointer;
    &:hover {
      box-shadow: 0px 1px 6px 1px;
    }
  }
}

@media (width <= 768px) {
  .login-wrapper {
    flex-direction: column;
    & input,
    & button {
      margin: 15px 0;
    }
  }
}
