.modlist-wrapper {
  & ul {
    list-style: none;
    padding-left: 0;
  }
  & .modlist-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 3px 3px 3px 50px;
    background: #FFFFFF;
    font-size: 14px;
    & .modlist-item-index {
      width: 50px;
      text-align: right;
      position: absolute;
      transform: translateX(-60px);
    }
    & .modlist-item-content {
      text-align: left;
    }
    &:nth-child(even) {
      background: #E0E0E0;
    }
    &.section .modlist-item-content {
      font-weight: bold;
    }
    &.comment .modlist-item-content {
      font-style: italic;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50px;
      padding: 3px;
      text-align: left;
      background: grey;
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 20%;
      padding: 3px;
      text-align: right;
    }
    &.esm:after {
      content: "";
      background: linear-gradient(to left, rgba(140,140,0,.35), transparent);
    }
    &.esp:after {
      content: "";
      background: linear-gradient(to left, rgba(0,140,0,.25), transparent);
    }
    &.enabled:after {
      content: "";
      background: linear-gradient(to left, rgba(0,140,0,.25), transparent);
    }
    &.disabled:after {
      content: "";
      background: linear-gradient(to left, rgba(140,0,0,.25), transparent);
    }
    &.unmanaged:after {
      content: "";
      background: linear-gradient(to left, rgba(140,140,0,.35), transparent);
    }
  }
}
