.modlist-wrapper {
  & ul {
    list-style: none;
    padding-left: 0;
  }
}
.modlist-content {
  min-height: 500px;
}
.modlist-filter {
  & input[type="text"] {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    padding: 3px;
    font-size: 16px;
  }
}
.modlist-filetype-nav {
  & ul {
    display: flex;
    justify-content: center;
  }
  & button {
    border: none;
    background: none;
    outline: none;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    text-transform: capitalize;
    margin: 0 5px;
    &:after {
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      bottom: -3px;
      left: 0;
      background: var(--color-primary);
      transition: calc(0.5 * var(--anim-delay)) transform ease;
      transform: scale(0);
    }
    &.active,
    &:focus,
    &:hover {
      &:after {
        transform: scale(1);
      }
    }
  }
}
.modlist-list-wrapper {
  position: relative;
  width: 100%;
}
.slide-enter-active,
.slide-leave-active {
  transition: var(--anim-delay) opacity ease;
}
.slide-enter,
.slide-leave-to {
  opacity: 0;
}
.modlist-actions {
  padding: 10px 0;
  & button {
    border: none;
    border-bottom: 1px solid var(--color-primary);
    background: none;
    padding: 3px 5px;
    font-size: 1em;
  }
}

@media (width <= 500px) {
  .modlist-item-descriptor {
    display: none;
  }
  .modlist-filetype-nav {
    & ul {
      flex-direction: column;
      & li {
        margin: 5px 0;
      }
    }
  }
}
