:root {
  --menu-offset: 20px;
  --button-offset: 10px;
  --anim-delay: 0.3s;
  --icon-size: 48px;
  --icon-subsize: 30px;
  --color-primary: #E3A853;
  --color-icon: #000000;
  --color-border: #A5A5A5;
  --color-background: #D0D0D0AA;
  --color-background-2: #D3D3D3;
  --color-esm: rgba(140,140,0,.35);
  --color-esp: rgba(0,140,0,.25);
  --color-enabled: rgba(0,140,0,.25);
  --color-disabled: rgba(140,0,0,.25);
  --color-unmanaged: rgba(140,140,0,.35);
  --color-setting-key: #E45649;
  --color-comment: rgba(0,0,0,0.33);
  --color-section: #4078F2;
  --nav-scale: 100px;
  --z-index-nav: 11;
  --z-index-nav-toggle: 10;
  --responsive-cutoff: 768px;
}

body {
	font-family: "Muli", Helvetica-Neue, sans-serif;
	color: #000000;
	text-align: center;
	background: #EBEBEB;
	background-image: url("/images/congruent_outline.png");
  margin: 0;
}
.vert-margin {
	margin: 10px auto;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--anim-delay) ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
section {
  box-sizing: border-box;
  padding: 25px 10px;
  background-color: var(--color-background-2);
  box-shadow: 3px 3px 6px 1px;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: initial;
  }
  & h1 {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 15px;
    margin: 20px 0;
    margin-top: 0;
    color: var(--color-primary);
    font-size: 3em;
  }
  & h2 {
    margin-top: 0;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 10px;
    color: var(--color-primary);
    font-size: 1.7em;
  }
  & p {
    margin: 0;
  }
}
.unselectable {
  pointer-events: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
@media (width <= 768px) {
  .responsive-hide {
    display: none;
  }
}

/* index.jsx */

.header {
	font-weight: bold;
	color:#D0D0D0;
  & a {
  	color:#D0D0D0;
  	font-size: 9vw;
  	text-decoration: none;
    max-width: 1000px;
  }
}
/*.download-header {
	width:100%;
	font-size: 4em;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	background-color: var(--color-primary);
	border-radius: 10px;
	color: #EBEBEB;
  & a {
  	color: #EBEBEB;
  	text-decoration: none;
  }
}*/
.content-wrapper {
  padding: 25px;
  padding-top: 0;
  width: 100%;
  box-sizing: border-box;
}
.view-wrapper {
  margin: 0 auto;
  max-width: 1000px;
}
@media (width <= 768px) {
  .view-wrapper {
    width: 100%;
  }
}
