body {
	font-family:"Muli", Helvetica-Neue, sans-serif;
	color:#000000;
	text-align:center;
	background:#ebebeb;
	background-image: url("/images/congruent_outline.png");
}
.nav-anim.ng-enter {
  -webkit-animation: flipInY 1s;
  -moz-animation: flipInY 1s;
  -ms-animation: flipInY 1s;
  animation: flipInY 1s;
}
/*.nav-anim.ng-leave {
  -webkit-animation: flipOutY 1s;
  -moz-animation: flipOutY 1s;
  -ms-animation: flipOutY 1s;
  animation: flipOutY 1s;
}*/
.input-group, .form-group {
	margin: auto;
}
.vert-margin {
	margin: 10px auto;
}
#header {
	font-size: 6em;
	font-size: 10vw;
	font-weight: bold;
	color:#D0D0D0;
}
#download-header {
	width:100%;
	font-size: 4em;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	background-color: #E3A853;
	border-radius: 10px;
	color:#ebebeb;
}
#header a {
	color:#D0D0D0;
	text-decoration:none;
}
#download-header a {
	color: #ebebeb;
	text-decoration: none;
}
#content-wrapper {
	text-align: left;
	border-radius: 10px;
	background-color: #D0D0D0;
}
.post-header {
	background-color:#808080;
	border-radius: 5px;
	margin-top: 20px;
	text-transform: uppercase;
}
.post-thumbnail {
	width: 150px;
	border-radius: 5px;
	margin-right: 25px;
	margin-top: 10px;
	display: inline-block;
}
.post-title {
	display: inline-block;
	font-weight: bold;
	margin-left: 10px;
	color: #D0D0D0;
}
.post-body {
	padding-top: 25px;
	padding-right: 10px;
	font-size: 17px;
}
.post-sig {
	padding-top: 15px;
	padding-left: 15px;
}
.btn {
	background-color: #E0E0E0;
}


/**
 *  PROFILE
 */

span#list-container {
  border-radius: 25px;
  background-color: #E0E0E0;
  text-align: left;
}
span#search-container {
  text-align: center;
  /*width: 100%;*/
  padding: 10px 40px;
  display: inline-block;
}
#filter-mods, #username {
  /*width: 40%;
  display: inline-block;*/
  vertical-align: middle;
  text-align: left;
}
#username {
  font-size: 25px;
}
ul#plugins, ul#modlist, ul#ini, ul#prefsini, ul#skse, ul#enblocal {
  list-style-type: none;
  padding-left: 0;
  /*padding: 0px 40px 40px 40px;*/
}
ul#plugins li:nth-child(even), ul#modlist li:nth-child(even), ul#ini li:nth-child(even), ul#prefsini li:nth-child(even), ul#skse li:nth-child(even), ul#enblocal li:nth-child(even) {
  background-color: #E0E0E0;
}
ul#plugins li:nth-child(odd), ul#modlist li:nth-child(odd), ul#ini li:nth-child(odd), ul#prefsini li:nth-child(odd), ul#skse li:nth-child(odd), ul#enblocal li:nth-child(odd) {
  background-color: #FFFFFF;
}
li {
  padding: 3px 0px 3px 3px;
  border-left: 1px solid #B0B0B0;
  border-right: 1px solid #B0B0B0;
}
span.row-header {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 50px;
  padding: 0px 10px;
}
#plugins span.row-body {
  max-width: 75%;
  display: inline-block;
  vertical-align: top;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
span.row-footer {
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 40px;
  margin-right: 10px;
  float: right;
}
span.esp {
  background-color: rgba(0,140,0,0.25);
}
span.esm {
  background-color: rgba(0,0,140,0.25);
}
div#nav-wrapper {
  text-align: center;
  margin-top: 20px;
  /*width: 100%;*/
  padding: 0px 40px;
}
div#nav-wrapper button {
  background-color: #C0C0C0;
}
button.selected {
  border: 2px solid black;
}
h1#timestamp, h1#enbText, h1#tagText {
  font-size: 20px;
}
#filter-checked {
  background-color: #C0C0C0;
}
.modwatch-badge {
  position:absolute;
  left:50px;
  top:25px;
  border-radius:50%;
  padding:5px;
  background-color:rgba(0,0,140,.25);
}
.striped-list li:nth-child(even) {
	background-color: #E0E0E0;
}
.striped-list li:nth-child(odd) {
	background-color: #FFFFFF;
}
