.post-header {
	background-color: #808080;
	border-radius: 5px;
	margin-top: 20px;
	text-transform: uppercase;
}
.post-thumbnail {
	width: 150px;
	border-radius: 5px;
	margin-right: 25px;
	margin-top: 10px;
	display: inline-block;
}
.post-title {
	display: inline-block;
	font-weight: bold;
	margin-left: 10px;
	color: #D0D0D0;
}
.post-body {
	padding-top: 25px;
	padding-right: 10px;
	font-size: 17px;
}
.post-sig {
	padding-top: 15px;
	padding-left: 15px;
}
